@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
  }

  .form-txt-input {
    @apply pt-[0.5rem] pb-[0.5rem] pl-[1rem] rounded-[5px] border focus:outline-blue-500;
  }
}
